version: '3.5'

networks:
  monitor:

x-base: &base
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-file: "1"
      max-size: "2M"
  ulimits:
    nproc: 8192
    nofile: 8192

x-monitor: &monitor
  <<: *base
  user: "1001"
  networks:
    - monitor
  labels:
    org.label-schema.group: "monitoring"

services:
  prometheus:
    <<: *monitor
    user: "1001"
    image: "{{ beacon_docker_images_prometheus }}"
    volumes:
      - "{{ beacon_config_path }}/prometheus:/etc/prometheus"
      - "{{ beacon_data_path }}/prometheus:/prometheus"
    command:
      - '--log.level=debug'
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    ports:
      - 9090
  node-exporter:
    <<: *monitor
    image: "{{ beacon_docker_images_node_exporter }}"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - 9100
  cadvisor:
    <<: *monitor
    image: "{{ beacon_docker_images_cadvisor }}"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /cgroup:/cgroup:ro
    ports:
      - 8080
  grafana:
    <<: *monitor
    image: "{{ beacon_docker_images_grafana }}"
    volumes:
      - "{{ beacon_data_path }}/grafana:/var/lib/grafana"
      - "{{ beacon_config_path }}/grafana/provisioning:/etc/grafana/provisioning"
    environment:
      - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
      - GF_USERS_ALLOW_SIGN_UP=false
    ports:
      - "3000:3000"
