version: '3.5'

networks:
  monitor:
    driver: bridge

x-base: &base
  restart: always
  logging:
    driver: "json-file"
    options:
      max-file: "1"
      max-size: "2M"
  ulimits:
    nproc: 8192
    nofile: 8192

x-monitor: &base
  <<: *base
  networks:
    - monitor
  labels:
    org.label-schema.group: "monitoring"

services:
  prometheus:
    <<: *monitor
    image: "{{ webserver_docker_images_prometheus }}"
    container_name: prometheus
    volumes:
      - "{{ webserver_config_path }}/prometheus:/etc/prometheus"
      - "{{ webserver_data_path }}/prometheus:/prometheus"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    restart: unless-stopped
    ports:
      - 9090
  node-exporter:
    <<: *monitor
    image: "{{ webserver_docker_images_node_exporter }}"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - 9100
  cadvisor:
    <<: *monitor
    image: "{{ webserver_docker_images_cadvisor }}"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /cgroup:/cgroup:ro
    ports:
      - 8080
