{
    experimental_http3
    storage file_system {
        root /etc/caddy
    }
}

https://{{ webserver_domain_root }} {
  log {
    output file /etc/caddy/logs/{{ webserver_domain_root }}
  }
  encode zstd gzip
  header X-liberty {{ webserver_services_caddy_headers_x_liberty }}

  @gitClone {
    header User-Agent git/*
  }
  reverse_proxy @gitClone https://code.tcry.pt
}

https://go.{{ webserver_domain_root }} {
  log {
    output file /etc/caddy/logs/go.{{ webserver_domain_root }}
  }

  reverse_proxy http://athens:3000
}


https://docker.{{ webserver_domain_root }} {
  log {
    output file /etc/caddy/logs/docker.{{ webserver_domain_root }}
  }

  reverse_proxy http://docker-registry:5000
}

https://{{ webserver_domain_code }} {
  log {
    output file /etc/caddy/logs/{{ webserver_domain_code }}
  }

  encode zstd gzip
  root * /gitlist/public

  route {
    # Send any requests from git to git-http-backend
    @gitClone {
      header User-Agent git/*
    }
    rewrite @gitClone /git{uri}
    reverse_proxy @gitClone http://git-http-backend:80

    # Send all static routes to the file server
    file_server /(img|prod)/*

    # Send everything else to gitlist
    rewrite * /index.php{path}
    reverse_proxy /index.php* gitlist:9000 {
      transport fastcgi {
        split .php
      }
    }
  }
}
