:root {
  --primary-blue:            #7587a6;
  --primary-green:           #8f9d6a;
  --color-primary-red:       #cf6a4c;
  --primary-white:           #f6f6f6;

  --light-green:             #a7b28a;

  --color-grey-1:            #e0e0e0;
  --color-blue-dark:         #596b8a;

  --primary-color:           var(--primary-blue);
  --bg-color:                var(--primary-white);
  --secondary-bg-color:      #eeeeee;
  --heading-color:           var(--primary-color);
  --body-color:              var(--primary-color);
  --post-color:              var(--primary-color);
  --border-color:            rgba(89, 107, 138, 0.3);;
  --pre-bg-color:            #f9f9fd;
  --nav-text-color:          var(--primary-white);
  --tag-color:               #424242;
  --blockquote-text-color:   #858585;
  --blockquote-border-color: #dfe2e5;
  scroll-padding-top:        100px;

  --sidebar-width: 20%;
}

html[data-theme='dark'] {
  --heading-color:           var(--color-grey-1);
  --body-color:              var(--color-grey-1);
  --post-color:              var(--color-grey-1);
  --blockquote-text-color:   var(--color-grey-1);
  --blockquote-border-color: var(--color-grey-1);
}

.theme-switch {
  z-index: 11;
  display: none;
}

.main .page-top, .sidebar {
  border: 0;
}

.accent-green {
  color: var(--primary-green) !important;
  /*font-weight: 700;*/
}

.accent-red {
  color: var(--color-primary-red) !important;
}

.accent-green-light {
  color:       var(--light-green) !important;
  font-weight: 300;
}

.accent-bold {
  font-weight: 700;
}

.accent-light {
  font-weight: 300;
}


body {
  font-family: 'Source Code Pro', monospace;
  background:  var(--bg-color);
  z-index:     1;
}


.content-wrapper {
  background: var(--bg-color) !important;
  margin:     0;
  padding:    0 0 0 30px;
  /*max-width: 1200px;*/
  width:      100%;
}

.content-wrapper, .content-wrapper > .sidebar, .content-wrapper > .main {
  background: var(--bg-color) !important;
}

a:hover {
  color:           var(--color-primary-red) !important;
  text-decoration: none !important;
}

.page-banner {
  background: linear-gradient(90deg, rgba(247, 149, 51, 0.101961) 0, rgba(243, 112, 85, 0.101961) 15%, rgba(239, 78, 123, 0.101961) 30%, rgba(161, 102, 171, 0.101961) 44%, rgba(80, 115, 184, 0.101961) 58%, rgba(16, 152, 173, 0.101961) 72%, rgba(7, 179, 155, 0.101961) 86%, rgba(109, 186, 130, 0.101961) 100%);;
  position:   fixed;
  height:     60px;
  width:      100%;
  /*z-index:    10;*/
}


.nav {
  font-weight: 600;
}

.sidebar {
  background:     transparent;
  display:        inline-block;
  float:          left;
  font-weight:    600;
  margin:         0;
  position:       relative;
  text-transform: none !important;
  width:          var(--sidebar-width);
}

.sidebar .logo-title {
  color:       var(--color-grey-1);
  padding-top: 90px;
}

.sidebar .logo-title .title img {
  width: 192px;
  border-radius: 50%;
}

.sidebar .logo-title .title h3 {
  text-transform: none;
  font-weight:    lighter;
}

.sidebar .logo-title .title a {
  /*color: var(--primary-blue);*/
  color:       var(--color-blue-dark);
  font-weight: normal;
}

.sidebar .logo-title .description p {
  font-weight: 600;
}

.sidebar .logo-title .description p .font-weight-normal {
  font-weight: 400;
}

.main {
  display:  inline-block;
  position: relative;
  float:    left;
  width:    75%;
}

.main .page-top {
  background:  transparent;
  display:     inline-block;
  float:       left;
  line-height: 60px;
  position:    relative;
  width:       100%;
}

.main .page-top .nav {
  z-index:     110 !important;
  display:     inline-block;
  line-height: 60px;
  margin:      0;
  padding:     0 0 0 30px;
}

.main .page-top .nav a {
  color:          var(--primary-white);
  font-size:      18px;
  letter-spacing: 1px;
  font-weight:    600;
  text-transform: lowercase;
}

.main .content {
  margin-top: 30px;
  float: left;
  width: 90%;
}


.main .content h1 {
  font-weight: 400;
  margin:      0 0 0 30px;
}


.main .post .post-title {
  color: var(--primary-green);
}

.main .post .post-title h3 a:after {
  content:        ".md";
  text-transform: none;
}

.main .content .post .post-footer {
  font-weight: 400;
  font-size:   14px;
  margin:      0;
}
