[Unit]
Description=CoreDNS

[Service]
User={{ coredns_user }}
EnvironmentFile=
ExecStart={{ coredns_binary_file }} -conf {{ coredns_config_path }}/Corefile

[Install]
WantedBy=multi-user.target
