$ORIGIN {{ coredns_zone_origin }}.
$TTL {{ coredns_zone_default_ttlive }}

@ SOA {{ coredns_zone_primary_ns }}.{{ coredns_zone_origin }}. {{ coredns_zone_hostmaster }}. ( {{ zone_serial }} {{ coredns_zone_ttrefresh }} {{ coredns_zone_ttretry }} {{ coredns_zone_ttexpire }} {{ coredns_zone_minimum_ttlive }} )
